    .container{
        background-color: white;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 350px;
        }
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    label, input {
        display: block;
    }
    label {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .btn-primary{
        width: 200px;
        background-color: indigo !important;
        color: white;
    }
    body{
            background-color: #1e172d;
    }
    .navbar{
        background-color: #37343d;
    }
    .dropdown-item{
        color:black;
    }
    .dropdown-menu{
        background-color: white;

    }
    .dropdown-item:active, .dropdown-item:hover
    {
        background-color: indigo !important;
        color:white;
    }
    .navbar-brand{
        color:white;
    }
    .navbar-brand:hover{
        color:white;
        outline: none;
    }
    .nav-item .nav-link{
        color:white;
        outline: none;
    }

    nav-item .nav-link, .nav-link:hover{
        color:black;
        background-color: white;
        opacity: 0.4;
        background-size: auto;
        outline: none;
    }



