    .container{
        background-color: white;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 350px;
        }
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    label, input {
        display: block;
    }
    label {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .btn-primary{
        width: 200px;
        background-color: #5100ff;
        color: white;
    }
    body{
            background-color: #1e172d;
    }