{% extends "base_home.html" %}
{% block title %}{{ super() }} Account Settings {% endblock %}
{% block content %}
    {{ super() }}
<div class="container form d-flex justify-content-center center border-3">
   <div class="page-header">
       <h1>Account Settings</h1>
       <hr/>
        {{ content_form(form, '/settings/account')}}
       <script>
           document.getElementsByName('email')[0].placeholder='{{ email }}'
           document.getElementsByName('username')[0].placeholder='{{ username }}';
           document.getElementsByName('permalink')[0].placeholder='{{ permalink }}';
       </script>
   </div>
</div>
{% endblock %}