{% extends "base_home.html" %}
{% block head %}{{ super() }}

    <script src="../static/channel.js"></script>
{% endblock %}
{% block title %}{{ super() }} Channels{% endblock %}
{% block content %}
    {{ super() }}

<div  class="container-fluid overflow-auto">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <div id="channel_nav" class="container-fluid overflow-auto" >
            <div class="row d-flex justify-content-center">
                <h3>Channels</h3>
            </div>
            <hr/>
            <div id="nav_channels" class="container-fluid d-flex justify-content-center">
               <div id="channel_select" class="list-group list-group-btn">
               <ul style="list-style-type:none;">
                {% for channel in channels %}
                       <li>
                           <button id='{{ channel['permalink']}}' type="button" onclick="changeChannel('{{ channel['permalink']}}')"
                                   class="list-group-item list-group-item-action channel_btn">
                           {{ channel['name']}}
                            </button>
                       </li>
                   {% endfor %}
               </ul>
               </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
        <div class="col-sm6 ">
            <button type="button" class="btn btn-light" onclick="window.location.href = '/Create/Channel';">Create Channel</button>
        </div>
           <div class="col-sm6">
            <button type="button" class="btn btn-light" onclick="deleteChannel()">Delete Channel</button>
        </div>
    </div>
    </div>
    <div class="col-sm-9 ">
        <div id="channel_settings" class="container-fluid overflow-auto">
            <div class="row d-flex justify-content-center">

            </div>
             <hr/>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-members" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="table-responsive" id="member_table_holder">
                      </div>
                  </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>
{%  endblock %}