{% extends "base_home.html" %}
{% block title %}{{ super() }} Channels{% endblock %}
{% block content %}
    {{ super() }}

<div  class="container-fluid overflow-auto">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <div id="channel_nav" class="container-fluid overflow-auto" >
            <div class="row d-flex justify-content-center">
                <h3>Channels</h3>
            </div>
            <hr/>
            <div id="nav_channels" class="container-fluid d-flex justify-content-center">
               <div id="channel_select" class="list-group list-group-btn">
               <ul style="list-style-type:none;">
                {% for channel in channels %}
                       <li>
                       {% if channel == channels[0]%}
                           <button id='{{ channel['permalink']}}' type="button" onclick="chatContent('{{ channel['permalink']}}')"
                                   class="list-group-item list-group-item-action active">
                           {{ channel['name']}}
                            </button>
                       {% else %}
                           <button id='{{ channel['permalink']}}' type="button" onclick="chatContent('{{ channel['permalink'] }}')"
                                   class="list-group-item list-group-item-action">
                               {{ channel['name']}}
                           </button>
                       {% endif %}
                       </li>
                   {% endfor %}
               </ul>
               </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">

        <div class="col-sm6 ">
            <button type="button" class="btn btn-light" onclick="window.location.href = '/Create/Channel';">Create Channel</button>
        </div>
           <div class="col-sm6">
            <button type="button" class="btn btn-light" onclick="deleteChannel()">Delete Channel</button>
        </div>
    </div>
    </div>
    <div class="col-sm-9 ">
        <div id="channel_settings" class="container-fluid overflow-auto">
            <div class="row d-flex justify-content-center">

            </div>
             <hr/>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-members" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="table-responsive">
                        <table class="table table-striped table-dark" >
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Account Permalink</th>
                                <th scope="col">Last Login</th>
                                <th scope="col">Is Admin</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% if user['is_admin'] %}
                                    <tr>
                                        <td>{{ user['username'] }}</td>
                                        <td>{{ user['permalink'] }}</td>
                                        <td>{{ user['login'] }}</td>
                                        <td>{{ user['is_admin'] }}</td>
                                        <td> </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ user['username'] }}</td>
                                        <td>{{ user['permalink'] }}</td>
                                        <td>{{ user['login'] }}</td>
                                        <td>{{ user['is_admin'] }}</td>
                                        <td><a href="/remove_user/{{ user['permalink'] }}">Remove</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="/add_user">Add User</a></td>
                            </tr>
                            </tbody>
                        </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>
{%  endblock %}