{% extends "base_home.html" %}
{% block head %}{{ super() }}
    <script src="../static/dashboard.js"></script>
{% endblock %}
{% block title %}{{ super() }} Dashboard {% endblock %}
{% block content %}
    {{ super() }}

<div  class="container-fluid overflow-auto">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <div id="dash_nav" class="container-fluid overflow-auto" >
            <div class="row d-flex justify-content-center">
                <h3>Channels</h3>
            </div>
            <hr/>
            <div id="nav_channels" class="container-fluid d-flex justify-content-center">
               <div id="dash_channel_select" class="list-group list-group-btn">
                  <ul style="list-style-type:none;">
                   {% for channel in channels %}
                       <li>
                           <button id='{{ channel['permalink']}}' type="button" onclick="chatContent('{{ channel['permalink'] }}')"
                                   class="list-group-item list-group-item-action channel_btn">
                               {{ channel['name']}}
                           </button>
                       </li>
                   {% endfor %}
               </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 ">
        <div id="chat" class="container-fluid overflow-auto">
              <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Type a message" aria-label="message" aria-describedby="basic-addon2">
                <div class="input-group-append">
                     <button class="btn btn-primary btn-outline-primary" type="button">Submit</button>
                 </div>
            </div>
  </div>
</div>
</div>
{%  endblock %}