{% extends "base_home.html" %}
{% block title %}{{ super() }} Dashboard {% endblock %}
{% block content %}
    {{ super() }}

<div  class="container-fluid overflow-auto">
  <div class="row content">
    <div class="col-sm-3 sidenav">
    </div>

    <div class="col-sm-9 ">
        <div id="chat" class="container-fluid overflow-auto">
              <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>
             <div class="message">
                  <span class="name">Hyperion</span>
                  <p class="message_content">Hello. How are you today is everything fine?</p>
                  <span class="time">2020-02-21 11:00</span>
              </div>

        </div>
            <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Type a message" aria-label="message" aria-describedby="basic-addon2">
                <div class="input-group-append">
                     <button class="btn btn-primary btn-outline-primary" type="button">Submit</button>
                 </div>
                </div>
  </div>
</div>
</div>
{%  endblock %}