{% extends "base.html" %}
{% block title %}{{ super() }} Login or Sign Up{% endblock %}

{% block content %}
<div class="container form d-flex justify-content-center center border-3 ">
<div class="row-12 align-items-center">
   <div class="page-header">
       <h1>Welcome to Chatty! </h1>
       <hr/>
   </div>
      <div class = "row justify-content-center">
           {% with messages = get_flashed_messages() %}
               {% if messages %}
                   <ul class="flashes alert alert-danger"  style="list-style-type:none;">
                       {% for message in messages %}
                           <li>{{ message }}</li>
                       {% endfor %}
                   </ul>
               {% endif %}
           {% endwith %}
       </div>
    <div class="row-12 align-items-center">
    {{ content_form(form, '/login')}}
    <div class="col text-center">
        <label><a href="/create-account"> Create Account</a></label>
    </div>
</form>
</div>
</div>
</div>
{% endblock %}