{% extends "base.html" %}
{% block title %}{{ super() }} Login or Sign Up{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center center border-3">
    <form method="POST" action="{{ url_for('verify_login') }}">
    <label for="username_field">Username
    <input type="text" class="form-control" id="username_field" name="username">
    </label>
    <label for="Password1">Password
    <input type="password" class="form-control" name="password">
    </label>
    <div class="col text-center">
     <button type="submit" class="btn btn-primary" value="Submit" >Login</button>
        <label><a href="/create/account"> Create Account</a></label>
    </div>
</form>
</div>
{% endblock %}